*.stackdump
*.bash_history
*.lesshst
*_done.txt
*_report.txt
*.bak
global.sh
todo.sh
todo.txt
einkauf.txt
todo.cfg
einkauf.cfg
*done.cfg
header_personal.sh
.inputrc
.gitconfig
test.sh

# vs code ignore
settings.json

# ignore own links -with exceptions
/links/*
/links/test.url
Shell Command Language.url
# ignore own files except
#/docs
/docs/*.txt 
!help*.txt 
