*.stackdump
*.bash_history
*.lesshst
*_done.txt
*_report.txt
*.bak
*.minttyrc
old.*
global.sh
todo.sh
todo.txt
einkauf.txt
shortcuts_personal.sh
header_personal.sh
.inputrc
.gitconfig
test.sh
.viminfo

# vs code ignore
settings.json

# ignore own links -with exceptions
# any folders starting with a dot
.*/
/links/*
*/todo_backup/*
*/todo_cfg/*.cfg
/links/test.url
/tools_cmd_python/

Shell Command Language.url
# ignore own files except some
#/docs
/docs/*.txt 
!help*.txt 
!doc_install_util.txt
*/todo_txt/*.txt
githome/.gitconfig.swp
todo/header_todo.sh
todo/header_todo.sh
TESTDOK.txt
githome/gitconfig_old
